plugin: serverscom.sc_api.sc_inventory
resources:
  - type: dedicated_server
    name_regex: "^{{ server1_title | regex_escape }}$"
    assign_inventory_group: web_tier
  - type: cloud_server
    labels:
      inv_test_marker: "cloud"
    assign_inventory_group: web_tier
